name: Attach Artifact to Release

on:
  pull_request:
    types:
      - closed

permissions:
  contents: write
  actions: read
  packages: write
  id-token: write

jobs:
  attach-artifact-to-release:
    uses: liquibase/build-logic/.github/workflows/extension-attach-artifact-release.yml@v0.4.1
    secrets: inherit